{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Module 6 Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tutorialapp/style.css' %}">
</head>

<body>
    <header>
        <h1>Module 6 Tutorial</h1>
    </header>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <main class="content">
        {% block content %}{% endblock %}
    </main>

  <footer>
    <p>Module 6 Tutorial • Django Project </p>
</footer>
    
</body>
</html>
